body {
    background: #eecda3;
    background: -webkit-linear-gradient(to right, #eecda3, #E040FB);
    background: linear-gradient(to right, #eecda3, #E040FB);
    min-height: 100vh;
}
.link{
  text-decoration: none;
  color: white;
}
.link:hover{
  font-size: 20px;
}

.un {
width: 85%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 1px solid #E1BEE7;
margin-bottom: 50px;
margin-left: 30px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

.pass {
width: 85%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: 1px solid ;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 1px solid #E1BEE7;
margin-bottom: 50px;
margin-left: 30px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
border: 2px solid rgba(0, 0, 0, 0.18) !important;
color: #8C55AA;
}
