{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
    <title>About us</title>
</head>
<body>
<div class="about-section">
    <h1>“DON'T GO TO MART, BE SMART” </h1>
    <h2>SHOP SMART WITH US </h2>

    <p>
        Greetings to all the Customers out there!!!!!
        <br> <br>We welcome you to the platform where we consistently strive to offer the best of services.
        <br>This platform has been designed for those wishing to shop with ease and still avoid compromise with quality
        <br>We have got the best quality goods, excellent services and best offers to make your shopping experience beyond great
        <br>Access best quality and fresh  fruits, vegetables and grocery, straight from farm, at your fingertips, anytime and anywhere
        <br> <br> Thank you for choosing and supporting us!


    </p>
    <a href="/" style="" class="link">Go to homepage</a>
</div>


<h2 style="text-align:center">Our Team (NWU Fall-21) </h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="https://scontent.fjsr12-1.fna.fbcdn.net/v/t1.15752-9/383388288_3412052712458037_4390137475350109975_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEbsg7Sajq0oD8n1dloNTCmD1k30GnYST0PWTfQadhJPcOQkZSHS_8nFe7Fv6wfLmXnOutjruytKNDpatbb5KN8&_nc_ohc=_MsdBL4KIKkAX9-5HP2&_nc_ht=scontent.fjsr12-1.fna&oh=03_AdTQbnLaVHobcwQc64ut1iQ4mlE3iL7cNb8KhHCrJHIdUg&oe=653E7D0B"yashf" style="width:100%">
            <div class="container">
                <h2>Sourav Biswas</h2>
                <p class="title">Team Leader</p>
                <p>North Western University <br> specialization: Django (for this project) </p>
                <p>sagorbiswas442@gmail.com</p>
                <a href="https://www.facebook.com/sourav.biswasdrz" target="_blank">
                    <p><button class="button" >Contact</button></p>
                </a>

            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://scontent.fjsr12-1.fna.fbcdn.net/v/t1.15752-9/379658728_337110368780974_1502549325302598645_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeG750V-QXDXunEX8NK6UpjntoWkWZSEFdm2haRZlIQV2QiiEztz7i-MM0_mzCqeD77P3gN0UvhYLwRf3SHVTJjK&_nc_ohc=sduqvIJUfpkAX-LTfoY&_nc_ht=scontent.fjsr12-1.fna&oh=03_AdQfUnnmimHlqHU93ZZH_hFmXrPOYDjwY3VuTy4lbjY2Wg&oe=653E5D8D"yashm" style="width:100%">
            <div class="container">
                <h2>Md Taufiq Ahmmed</h2>
                <p class="title">Front-end Developer (Member)</p>
                <p>North Western University <br> specialization: HTML-CSS (for this project) </p>
                <p>mdtoufikahmmed68@gmail.com</p>
                <a href="https://www.facebook.com/tamim.ahammed.714049" target="_blank">
                    <p><button class="button" >Contact</button></p>
                </a>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://scontent.fjsr12-1.fna.fbcdn.net/v/t1.15752-9/379664676_192941147153007_1650811937947431298_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEaVHb6VFY_7bL0ZeJPNvmQQLrTiCq-hGJAutOIKr6EYhFHpeu0dWlujkRYQ_ooQFpYmY_f6h0dU4rZSGOzlEhG&_nc_ohc=DXtxflAzvmgAX8V6pFK&_nc_ht=scontent.fjsr12-1.fna&oh=03_AdR50ZiSZ6-8rIALjWsPMK64sx61b2M1jQzUvPxrBZ0TMQ&oe=653E79F5"harshs" style="width:100%">
            <div class="container">
                <h2>Taj Rahaman</h2>
                <p class="title">Python Programmer (Member)</p>
                <p>North Western University <br> specialization: Python Programmer (for this project)</p>
                <p>66tajrahman@gmail.com</p>
                <a href="https://www.facebook.com/taj.rahaman.716" target="_blank">
                    <p><button class="button" >Contact</button></p>
                </a>
            </div>
        </div>
    </div>
    <div class="column">
      <div class="card">
          <img src="https://scontent.fjsr12-1.fna.fbcdn.net/v/t1.15752-9/382312251_341734734970479_1337896825839434936_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHuyyKEQxDiA5z_HMeRY3qvfV4RY1oEfiN9XhFjWgR-I4MRP0iNVbIohPz06iYUKtMfahcZ8SKq9GEJB-M50NzR&_nc_ohc=mbCUdk3h9QUAX_Jz2gY&_nc_ht=scontent.fjsr12-1.fna&oh=03_AdTkedFV5X-nRZwIG80lD14nDNzkiISyyZnoILmcxgCY9Q&oe=653E7A9F" alt="harshs" style="width:100%">
          <div class="container">
              <h2>Fatema Tuz Johora</h2>
              <p class="title">Python Programmer (Member)</p>
              <p>North Western University <br> specialization: Python Programmer (for this project)</p>
              <p>fatemamimi2021@gmail.com</p>
              <a href="https://www.facebook.com/subha.mehjabin.10" target="_blank">
                  <p><button class="button" >Contact</button></p>
              </a>
          </div>
      </div>
  </div>
  <div class="column">
    <div class="card">
        <img src="https://scontent.fjsr12-1.fna.fbcdn.net/v/t1.15752-9/377147185_828437228736142_8772546208632044443_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGtd9Z1l31p-M55iBycc_JurD1cCLez75GsPVwIt7PvkbUbr7w_Hxzxiad_MlwLtiCNjv_eOMFggFvZAB9SKteI&_nc_ohc=A7v2KHuWL0IAX-vA_mu&_nc_ht=scontent.fjsr12-1.fna&oh=03_AdTAYoaymGgt1gOtoh7lCodEREtxA_iEQtIeu82xXjT05Q&oe=652DF31E" alt="harshs" style="width:100%">
        <div class="container">
            <h2>Humiratul Bushra</h2>
            <p class="title">Python Programmer (Member)</p>
            <p>North Western University <br> specialization: Python Programmer (for this project)</p>
            <p>Humiratulbushra@gmail.com</p>
            <a href="https://www.facebook.com/humiratul.bushra" target="_blank">
                <p><button class="button" >Contact</button></p>
            </a>
        </div>
    </div>
</div>
</div>
</body>
</html>